* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: "Zen Dots";
}




body {
    background: linear-gradient(120deg, #dd5800, #919191);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #dd5800, #919191);
    box-shadow: 0px 0px 20px #000000;
}
.titulo h1 {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
}

.titulo div {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    padding: 30px 80px;
    margin-top: 40px;
}

header {
    display: flex;
    position: fixed;
    margin: 10px;
}

header img {
    width: 40px;
}

.index__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    flex-direction: column;
}
.coder_img {
    width: 300px;
    height: auto;
    border-radius: 4vh;
    box-shadow: 0px 0px 20px #000000;
}
#indexbody {
    background: none;
    background-color: #fff;
}
#particles-js {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -10;
}



.index__menu a {
    padding: 20px 40px;
    border: solid 2px #000000;
    background-color: #fff;
    border-radius: 4vh;
    box-shadow: 0px 0px 20px #000000;
    transition: .2s;
    font-size: 30px;
    z-index: 9999; 
    
}
.index__menu a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
}
/* ========================Autos======================== */
.autosbody {
    background: none;
    background-color: #bbbbbb;
}
.Autos__menu{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.Autos__menu__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    transition: .2s;
    border-radius: 4vh;
    border: solid 2px #000000;
    box-shadow: 0px 0px 20px #000000;
}
.Autos__menu__div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
    
}
.auto-img{
    width: 400px;
    height: auto;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000000;
}
.auto-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.btn-agregar {
    padding: 10px 20px;
    background-color: #dd5800;
    color: #fff;
    border: none;
    border-radius: 4vh;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}
.btn-agregar:hover {
    background-color: #be4c00;
    box-shadow: 0px 0px 20px #fff;
}
.finalizar-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btn-finalizar {
    padding: 10px 20px;
    background-color: #17948e;
    color: #fff;
    border: none;
    border-radius: 4vh;
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px #17948e;
    border: solid 3px #fff;
    position: fixed;
    z-index: 9999;
    top: 60px;
    right: 20px;
}
.btn-finalizar:hover {
    transform: scale(1.1);
    background-color: #0f6b68;
    box-shadow: 0px 0px 26px #fff;
}

.notificacion-flotante {
  position: fixed;
  bottom: 100px;
  right: 80px;
  background-color: #dd5800;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
 opacity: 0;
  transform: translateY(20px);
  pointer-events: none; 
  
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.notificacion-flotante.mostrar {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; 
}



/* =======================CARDS======================== */
#detalleAutoBody {
    background:none;
    background-color: #fff;
}
.teinteresa-card {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 0px 10px #dd5800;
    margin: 20px;
}
.auto-detalle-contenido {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
#detalleImagen{
    width: 60%;
    height: auto;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000000;
}
.auto-detalle-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ==========================DATOS======================== */
#datomain {
    display: flex;
    align-items: center;
}
.final-carrito{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: start;
    justify-content: center;
}
.final-carrito-section{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: solid 2px #000000;
    border-radius: 4vh;
    box-shadow: 0px 0px 20px #000000;
    padding: 20px;
    background-color: #fff;
}

.auto-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auto-info h3 {
    font-size: 16px;
    font-weight: 400;
}
.auto-img-final{
    width: 120px;
    height: auto;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000000;
}
.cliente {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.cliente input {
    padding: 10px;
    border: solid 2px #000000;
    border-radius: 4vh;
    box-shadow: 0px 0px 20px #000000;
    width: 300px;
}
.cliente button {
    padding: 10px 20px;
    background-color: #17948e;
    color: #fff;
    border: none;
    border-radius: 4vh;
    font-size: 16px;
    cursor: pointer;  
    transition: .2s;}
.cliente button:hover {
    background-color: #0f6b68;
    box-shadow: 0px 0px 26px #fff;
}

#totalCarrito {
    font-size: 30px;
    font-weight: 400;
    font-family: "Zen Dots";
    color: #fff;
    text-shadow: 0px 0px 10px #17948e;
    margin-top: 20px;
}